In [ ]:
print("hello world")

hello world

In [ ]:
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [ ]:
2*12

24

In [ ]:
type(15)

int

In [ ]:
type('abc')

str

In [ ]:
type(True)

bool

In [ ]:
eno=10
ename="sakshi"
esal=345.45
print("The given employee numbe is",eno)
print("the given employee name is",ename)
print("the given employee salary is",esal)

The given employee numbe is 10
the given employee name is sakshi
the given employee salary is 345.45

In [ ]:
a=int(input("enter a value:"))
b=int(input("enter b vaalue:"))
print(type(a))
print(type(b))
print(a+b)

enter a value:20
enter b vaalue:30
<class 'int'>
<class 'int'>
50

In [ ]:
eno=int(input("enter employee number:"))
ename=input("enter employee name")
esal=float(input("enter employee salary"))
print("The given employee numbe is",eno)
print("the given employee name is",ename)
print("the given employee salary is",esal)

enter employee number:10
enter employee namesakshi
enter employee salary445.45
The given employee numbe is 10
the given employee name is sakshi
the given employee salary is 445.45

In [ ]:
#write a pyton program to enter radius of circle and find the area?

radius=int(input("enter the radius of circle:"))
pi=3.14
area=pi*radius*radius
print("the area of circle is",area)

enter the radius of circle:5
the area of circle is 78.5

In [ ]:
#write a python program find the area and circumference of rectangle?
length=int(input("enter the length of rectangle:"))
breadth=int(input("enter the breadth of rectangle:"))
area=length*breadth
print("the area of rectangle is",area)
circumference=2*(length+breadth)
print("the circumference of rectangle",circumference)

enter the length of rectangle:2
enter the breadth of rectangle:4
the area of rectangle is 8
the circumference of rectangle 12

In [ ]:

#write a python program to check the person whether eligible for voting or not ?
age=int(input("enter the age of person"))
if age>=18:
  print("eligible for voting")
else:
  print("not eligible for voting")

enter the age of person18
eligible for voting

In [ ]:
#write a python program to check the given number is positive or negative or zero?

number=int(input("enter a number"))
if number>0:
  print("the given number is positive")
elif number<0:
  print ("zero")
else:
  print("the given number is negative")

enter a number25
the given number is positive

In [ ]:
#which wheather the number is even or odd?

number=int(input("enter a number"))
if number %2==0:
  print("the given number is even")
else:
  print("the given number is odd")

enter a number4
the given number is even

In [ ]:
from typing import dataclass_transform
#accept employee basic salary and find gross salary?

basic=int(input("enter your basic salary to find gross salary"))
if basic<=10000:
  hra=(basic/100)*70
  da=(basic/100)*56
elif basic<=20000:
  hra=(basic/100)*73
  da=(basic/100)*60
else:
  hra=(basic/100)*80
  da=(basic/100)*65

gs=basic+hra+da
print("HRA :",hra)
print("DA :",da)

print("the gross salary:",gs)

enter your basic salary to find gross salary20000
HRA : 14600.0
DA : 12000.0
the gross salary: 46600.0

In [ ]:
#accept username and password and display
 # invalid username -- if username is incorrect
  # invalid password -- if password is incorrect

username=input("enter username")
if username=="sakshi":
 password=input("enter password")
 if password=="1234":
  print("valid user")
 else:
    print("invalid password")
else:
  print("invalid username")

enter usernamesakshi
enter password1234
valid user

In [ ]:
#accept withdraw amount and print number of notes

amount=int(input("enter the amount to withdraw:"))
if amount%100==0:
  print("valid amount")
else:
  print("please enter multiples of 100 only")

enter the amount to withdraw:500
valid amount

In [ ]:
#accept withdraw amount and print number of notes

amount=int(input("enter the amount to withdraw:"))
five=0
two=0
one=0
if amount%100==0:
  if amount>=500:
    five=amount//500
    amount=amount-(five*500)
    print("500 ------",five)
  if amount>=200:
    two=amount//200
    amount=amount-(two*200)
    print("200 ------",two)
  if amount>=100:
    one=amount//100
    amount=amount-(one*100)
    print("100 ------",one)
else:
  print("please enter multiples of 100 only")

enter the amount to withdraw:2800
500 ------ 5
200 ------ 1
100 ------ 1

In [ ]:
#accept project marks,internal marks,external marks from student
#passmarks is 50 in each subject
#calculate total score if student got more than or equal to 50 in each subject
#total score=70% on project+20% on external+ 10% on internal
#print A grade if score is 90+
#print B grade if score IS B/W 70-90
#print C grade if score is B/W 50-70
project=int(input("Enter project marks:"))     #50
internal=int(input("Enter internal marks:"))   # 50
external=int(input("Enter external marks:"))   # 50
if project>=50 and internal>=50 and external>=50:
    total=(project*70)/100+ (external*20)/100+(internal*10)/100
    print("Total score is: ",total)
    if total>=90:
        print("A grade")
    elif total>=70:
        print("B grade")
    else:
        print("C grade")

else:
    print("fail")

Enter project marks:50
Enter internal marks:50
Enter external marks:50
Total score is:  50.0
C grade

In [1]:
#accept start and stop value and print b/w values

start=int(input("enter start value:"))
stop=int(input("enter stop value:"))
if start<stop:
  for i in range(start,stop):
      print(i,end=" ")
elif start>stop:
  for i in range(stop,start,-1):
      print(i,end=" ")
else:
    print("your start and stop values are same")

enter start value:10
enter stop value:100
10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99

In [7]:
#write a program to print factors of a given number
num=int(input("enter a number:"))
print("factors are:")
for i in range(1,num+1):
  if num%i==0:
    print(i,end=" ")

enter a number:50
factors are:
1 2 5 10 25 50

In [3]:
# Write a program to print count of factors of a given number
# 10
  #  1 2 5

# 50  -- 5
count=0
num=int(input("Enter your number to print count of factors :"))
for i in range(1, (num//2)+1):
    if num%i==0:
        count=count+1

print("number of factors: ",count)

Enter your number to print count of factors :50
number of factors:  5

In [4]:
# Write a program to check given number is prime or not
# 2 3 5 7 11 13 17 19 ....
count=0
num=int(input("Enter your number to check it is prime or not :"))
for i in range(1, (num//2)+1):
    if num%i==0:
        count=count+1

if count==1:
    print(num," is a prime number")
else:
    print(num," is not a prime number")

Enter your number to check it is prime or not :7
7  is a prime number

In [6]:
# Write a program to check given number is perfect number or not
# 6      :  1+2+3  ==6
# 28     : 1+2+4+7+14===28
# 10     : 1+2+5  ===> 8

sum=0
num=int(input("Enter your number to check it is perfect number or not :"))
for i in range(1, (num//2)+1):
    if num%i==0:
        sum=sum+i

if sum==num:
    print(num," is perfect number")
else:
    print(num," is not a perfect number")

Enter your number to check it is perfect number or not :40
40  is not a perfect number

In [10]:
#how many no.of times
for i in range(0,5):
    for j in range(i,5):
        print("Hi", end=" ")
    print()

Hi Hi Hi Hi Hi
Hi Hi Hi Hi
Hi Hi Hi
Hi Hi
Hi

In [11]:
for i in range(0,5):
    for j in range(0,i+1):
        print(i, end=" ")
    print()

0
1 1
2 2 2
3 3 3 3
4 4 4 4 4

In [13]:
for row in range(0,6):
    for col in range(0,7):
        if (row==0 and col%3!=0) or (row==1 and col%3==0) or (row-col==2) or (row+col==8):
            print(" * ",end=" ")
        else:
            print(" ", end="  ")
    print(" ")

    *   *      *   *
 *         *         *
 *                  *
    *            *
       *      *
          *